@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600;700&family=Nothing+You+Could+Do&display=swap');
body {
  font-family: "Changa", sans-serif;
}
h1 {
    font-family: 'Nothing You Could Do';
}
.jd {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ReactModal__Content{
  width: 70%;
  height: 80%;
  border: 0;
}
.accepted{
  @apply bg-green-500 text-white px-5 py-2 rounded-md
}
.notAllow{
  @apply bg-red-500 text-white px-5 py-2 rounded-md
}
.btn-info:disabled{
  pointer-events:inherit !important;
  cursor: no-drop !important;
  background-color: #333 !important;
}
.editScroll{
}
.editScroll::-webkit-scrollbar{
  background: #333;
  width: 1px;

}
.editScroll::-webkit-scrollbar-thumb {
  background: #999;
}